p{
    color: blue;
    width: 500px;
    border: 1px solid black;
}

#meu-id {
    background-color: green;
}

.minha-class {
    background-color: darkgrey;
}

.fundo-vermelho {
    background-color: red;
    color: black;
}

.fundo-vermelho:hover{
    background-color: black;
    color: red;
}

html {
    font-size: 15px;
    font-family: "Truculenta", sans-serif;
    background-color: gray;
}

h1 {
    font-size: 45px;
    text-align: center;
    text-shadow: 3px 3px 1px rgb(#fffdfd);
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: red;
    padding: 0 20px 20px 20px;
    border: 5px solid black
}

img {
    display: block;
    margin: 0 auto;
}